/*
* @Author: miss
* @Date:   2017-05-19 13:42:19
* @Last Modified by:   miss
* @Last Modified time: 2017-05-19 13:57:25
*/
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 100px;
	font-family: "Microsoft Yahei";
}
ul {
	list-style: none;
}
div,ul,li,h1,h2,h3,h4,h5,h6 {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
input {
	border: none;
	outline-style: none;
	-webkit-appearance: none;
}
img {
	vertical-align: top;
}
h1,h2,h3,h4,h5,h6,i,b {
	font-weight: normal;
	font-style: normal;
}
.header {
	width: 6.4rem;
	height: 3.32rem;
}
.header .search {
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 0.85rem;
	padding: 0.15rem 0 0.15rem 0.25rem;
	color: #fff;
}
.header .search.active {
	background: #00b38a;
	opacity: 0.3;
}
.header .search-box {
	float: left;
	width: 5.34rem;
	height: 0.55rem;
	background-color: #fff;
	text-align: center;
	font-size: 0.2rem;
	letter-spacing: 0.02rem;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.header .search.active .search-box{
	background: #0aa37f;
}
.header .search.active .search-box::-webkit-input-placeholder{
	color:#fff;
}
.header .scan {
	float: left;
	width: 0.35rem;
	height: 0.35rem;
	margin: 0.1rem 0 0 0.15rem;
	background: url(../images/saomiao.png) center;
	background-size: 100%;
}
.header .banner {
	position: relative;
	overflow: hidden;
	width: 6.4rem;
	height: 3.32rem;
}
.header .banner-box {
	position: absolute;
	left: 0;
	top: 0;
	width: 200%;
	height: 100%;
}
.header .banner-box .item {
	float: left;
}
.banner-box .item img {
	width: 6.4rem;
	height: 3.32rem;
}
.header .sport-box {
	position: absolute;
	bottom: 0.18rem;
	left: 50%;
}
.header .sport-box .sport {
	float: left;
	width: 0.08rem;
	height: 0.08rem;
	margin-right: 0.1rem;
	background-color: orange;
	-webkit-border-radius: 50%;
	border-radius: 0.05rem;
}
.header .sport-box .sport.active {
	width: 0.16rem;
}
.nav {
	width: 6.4rem;
	height: 1.8rem;
	background: #fff;
}
.nav .nav-box {
	width: 100%;
	height: 100%;
}
.nav .nav-item {
	position: relative;
	float: left;
	width: 25%;
	height: 100%;
	text-align: center;
}
.nav .nav-pic {
	position: absolute;
	top: 0.26rem;
	width: 100%;
	height: 0.78rem;
}
.nav .nav-pic img {
	width: 0.78rem;
	height: 0.78rem;
}
.nav .nav-title {
	position: absolute;
	top:1.27rem;
	width: 100%;
	letter-spacing: 2px;
	font-weight: 500;
	text-align: center;
	font-size: 0.22rem;
}
.h18 {
	height: 0.18rem;
	background: #F0F1F5;
}
.recommend-title {
	height: 0.81rem;
	width: 100%;
	border-bottom: 1px solid #F2F3F4;
	font-size: 0.26rem;
	line-height: 0.81rem;
	padding-left: 0.25rem;
}
.info .item {
	width: 6.4rem;
	height: 1.93rem;
}
.info .item .logo-pic {
	float: left;
	width: 1.6rem;
	height: 100%;
	padding-top: 0.23rem;
	text-align: center;
}
.info .logo-pic img {
	width: 1.16rem;
	height: 1.16rem;
}
.info .item .info-con {
	float: left;
	width: 4.8rem;
	height: 100%;
	padding-top: 0.23rem;
	padding-right: 0.22rem;
	border-bottom: 1px solid #F2F2F2;
}
.info .info-con h3 {
	height: 0.42rem;
	font-size: 0.26rem;
	line-height: 0.26rem;
}
.info .info-con h3 b {
	display: inline-block;
	width: 0.3rem;
	height: 0.3rem;
	margin-top: ;
	background: url(../images/msg.png) no-repeat center;
	background-size: 100%;
}
.info .info-con h3 .wage {
	float: right;
	font-size: 0.2rem;
	font-weight: 600;
	color: #FF552B;
}
.info .info-con h4 {
	height: 0.47rem;
	font-size: 0.24rem;
}
.info .info-con p {
	height: 0.36rem;
	color: #929292;
	font-weight: 500;
}
.info .info-con .address {
	font-size: 0.22rem;
}
.info .info-con .company-info {
	font-size: 0.16rem;
}
.info .info-con p .data {
	float: right;
	color: #CFCFCF;
}
.loading {
	height: 0.60rem;
	text-align: center;
	font-size: 0.2rem;
	line-height: 0.60rem;
	letter-spacing: 2px;
}
.h97 {
	height: 0.97rem;
}
.footer-menu {
	position: fixed;
	bottom: 0;
	width: 6.4rem;
	height: 0.97rem;
	border-top: 1px solid #E9E9EA;
	background: #F7F7F8;
}
.footer-menu .footer-menubox {
	width: 100%;
	height: 100%;
}
.footer-menu .item {
	float: left;
	width: 25%;
	height: 100%;
	background-size: 100%;
}
.item1 {
	background: url(../images/home.png) no-repeat center;
}
.item1.active {
	background-image: url(../images/home-a.png);
}
.item2 {
	background: url(../images/mession.png) no-repeat center;
}
.item2.active {
	background-image: url(../images/mession-a.png);
}
.item3 {
	background: url(../images/job.png) no-repeat center;
}
.item3.active {
	background-image: url(../images/job-a.png);
}
.item4 {
	background: url(../images/me.png) no-repeat center;
}
.item4.active {
	background-image: url(../images/me-a.png);
}
.footer-menu .item a {
	display: block;
	width: 100%;
	height: 100%;
}